body {
    background-color: rgb(233, 232, 232);
}

.panel {
    background-color: rgba(255,255,255,.5)
    width: 300px;
    margin: 50px;
    top: 100px;
    font: 15px 'Roboto', monospace;
    text-align: center;
    border-radius: 25px;
}

.panel text {
    margin: 20px, 5px, 20px, 5px;
}

.panel img {
    width: 200px;
    height: 200px;
    border: 20px solid transparent;
    border-radius: 25px;
}

.material-icons i {
    size: 20px;
    color: lightcoral;
}

.nav {
    background-color: white;
    border-bottom: 2px solid black;
    top: 0;
    width: 100%;
    font: 15px 'Roboto', monospace;
}

.nav a {
    margin:20px;
}

.nav a:hover {
    border-bottom: 2px solid pink;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
    }
      
a:hover {
     color: pink;
     transition: 1s;
    }
