.nav {
    border-bottom: 2px solid black;
    background-color: lightgoldenrodyellow;
    width: 300px;
    margin: auto;
    font: 15px 'Roboto', monospace;
    text-align: center;
}

.nav text {
    margin: 10px, 5px, 10px, 5px;
}

.nav img {
    width: 200px;
    height: 200px;
    margin: auto;
    border: 10px solid round transparent;
}

a:link, a:visited {
    color: black;
    }
      
a:hover {
     color: pink;
    }
