.header_bar {
    border-bottom: 2px solid black;
    background-color: lightgoldenrodyellow;
    width: 100%;
}

.header_bar text {
    font: 15px 'Roboto', monospace;
    margin: 10px, 5px, 10px, 5px;
}

a:link, a:visited {
    color: black;
    }
      
a:hover {
     color: pink;
    }
